body{
margin: 0;
background-color: #06623b;
}

h1{

  color: #f6d743;
  font-weight: bolder;
}

h2{
  color: #f6d743;


}

.header{
  text-align: center;
  color: #f6d743;
  height: 40px;


}
.virusimage
 {top:10px;
     left: 10px;
   width: 60px;
   height: 60px;
}

.giphy{

  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.giphylist{
  width: 200px;
  height: 200px;

}
 .top{


text-align: center;


color: #f6d743;


  height:auto;

}


.bottom{
  position: absolute;

text-align: center;
  background-color: #06623b;
  color: #f6d743;

  }


  .page2top{
    background-color: #43d8c9;


  }

  .page2bottom{
    background-color: #af8baf;


  }
