body{
margin: 0;
background-color: #fe9801;

}

h1{

  color: #f4eec7;
  font-weight: bolder;
}

h2{
  background-color: #58b4ae;
  font-size:2rem;
  color:#f6d743;
  text-align: center;
}

.virusimage
 {top:10px;
     left: 10px;
   width: 60px;
   height: 60px;
}

.giphy{

  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.giphylist{


  height: 300px;
  float: left;
  width: 300px;
  padding: 10px;

}
 .top{
background-color: #035aa6
text-align:center;
color: #9a1f40;
height:auto;

}


.bottom{

text-align: center;
  background-color: #06623b;
  color: #00909e;

  }

.container-fluid{
  padding: 1% 1%;
}
.navbar-brand{


}
.nav-item{
  padding: 0 18px;
}

.btn-primary {
  margin-left: 10%;
}

#Videos{
  padding: 7% 15%;
}
