body{
margin: 0;
background-color: #fe9801;
font-family:serif;
}

h1{

  color: #f4eec7;
  font-weight: bolder;
}

h2{
  background-color: #58b4ae;
  font-size:2rem;
  color:#f6d743;
  text-align: center;
}

.virusimage
 {top:10px;
     left: 10px;
   width: 60px;
   height: 60px;
}

.giphy{

  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.giphylist{
  width: 300px;
  height: 300px;
}
 .top{


text-align:center;


color: #6f0000;


  height:auto;

}


.bottom{


text-align: center;
  background-color: #06623b;
  color: #f6d743;

  }

.container-fluid{
  padding: 1% 1%;
}
.navbar-brand{


}
.nav-item{
  padding: 0 18px;
}

.btn-primary {
  margin-left: 10%;
}

#Videos{
  padding: 7% 15%;
}
